.thanhtoan,
.thanhtoan * {
  box-sizing: border-box;
}
.thanhtoan {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: center;
  justify-content: flex-start;
  height: 2880px;
  position: relative;
  overflow: hidden;
}
.logo {
  flex-shrink: 0;
  width: 358px;
  height: 116.91px;
  position: static;
}
.oskin {
  color: #f3617a;
  text-align: left;
  position: absolute;
  left: 541px;
  top: 0px;
  width: 358px;
  height: 116.91px;
}
.oskin-span {
  color: #f3617a;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 19.03317642211914px;
  font-weight: 400;
}
.oskin-span2 {
  color: #f3617a;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.oskin-span3 {
  color: #f3617a;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.frame-22 {
  background: #f3fdf7;
  flex-shrink: 0;
  width: 1440px;
  height: 2250px;
  position: relative;
  overflow: hidden;
}
.diachi {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 64px;
  top: 38px;
  width: 210px;
  height: 72px;
}
.rectangle-27 {
  background: #fefcfc;
  border-radius: 25px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1007px;
  height: 186px;
  position: absolute;
  left: 309px;
  top: 46.09px;
}
.sanpham {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 53px;
  top: 243.09px;
  width: 444px;
  height: 74px;
}
.frame-23 {
  background: rgba(249, 217, 217, 0.7);
  width: 1372px;
  height: 521px;
  position: absolute;
  left: 29px;
  top: 433.09px;
  overflow: hidden;
}
.giaban {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 490px;
  top: 194px;
  width: 202px;
  height: 54px;
}
.sotien {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 490px;
  top: 360px;
  width: 191px;
  height: 54px;
}
.soluong {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 490px;
  top: 279px;
  width: 223px;
  height: 54px;
}
._150-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 188px;
  width: 306px;
  height: 43px;
}
._300-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 354px;
  width: 306px;
  height: 43px;
}
._2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 273px;
  width: 52px;
  height: 68px;
}
.frame-26 {
  width: 295px;
  height: 418px;
  position: absolute;
  left: 63px;
  top: 50px;
  overflow: hidden;
  object-fit: cover;
}
.s-a-r-a-m-t-l-m-s-ch-l-n-da {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 490px;
  top: 17px;
  width: 630px;
  height: 126px;
}
.s-a-r-a-m-t-l-m-s-ch-l-n-da-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.s-a-r-a-m-t-l-m-s-ch-l-n-da-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.frame-262 {
  background: #f7e4e3;
  width: 1372px;
  height: 521px;
  position: absolute;
  left: 29px;
  top: 1014.09px;
  overflow: hidden;
}
.sotien2 {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 490px;
  top: 355px;
  width: 191px;
  height: 54px;
}
.soluong2 {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: absolute;
  left: 490px;
  top: 273px;
  width: 223px;
  height: 54px;
}
._200-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 188px;
  width: 306px;
  height: 43px;
}
._200-0002 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 349px;
  width: 306px;
  height: 43px;
}
._1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 713px;
  top: 267px;
  width: 52px;
  height: 68px;
}
.sanphamthanhtoan {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 490px;
  top: 17px;
  width: 630px;
  height: 126px;
}
.sanphamthanhtoan-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
}
.sanphamthanhtoan-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
}
.frame-25 {
  background: #f7e4e3;
  width: 1372px;
  height: 577px;
  position: absolute;
  left: 29px;
  top: 1595.09px;
  overflow: hidden;
}
.phivanchuyen {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: 30px;
  top: 31px;
  width: 444px;
  height: 99px;
}
._30-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 935px;
  top: 42px;
  width: 306px;
  height: 43px;
}
.phuongthucthanhtoan {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  left: 30px;
  top: 134px;
}
.rectangle-32 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 375px;
  height: 105px;
  position: absolute;
  left: 30px;
  top: 253px;
}
.rectangle-33 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 423px;
  height: 105px;
  position: absolute;
  left: 461px;
  top: 253px;
}
.rectangle-34 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 385px;
  height: 105px;
  position: absolute;
  left: 957px;
  top: 253px;
}
.thetindung {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 70px;
  top: 285px;
  width: 318px;
  height: 42px;
}
.thanhtoankhinhanhang {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 493px;
  top: 285px;
  width: 391px;
  height: 39px;
}
.nhantaicuahang {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1024px;
  top: 285px;
  width: 279px;
  height: 39px;
}
.tongtien {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 438px;
  width: 309px;
  height: 90px;
}
._530-000 {
  color: #ff0505;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 589px;
  top: 440px;
  width: 346px;
  height: 56px;
}
._4-section {
  background: #f3fdf7;
  flex-shrink: 0;
  width: 1138px;
  height: 268px;
  position: relative;
}
.frame-1 {
  width: 235px;
  height: 270px;
  position: absolute;
  left: 855px;
  top: 2px;
}
.social-media {
  display: flex;
  flex-direction: row;
  gap: 47px;
  align-items: center;
  justify-content: center;
  height: auto;
  position: absolute;
  left: -5px;
  top: 10px;
  overflow: visible;
}
.communication-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 83px;
  object-fit: cover;
  aspect-ratio: 1;
}
.oskinfacebook-com {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 47px;
  top: 66px;
  width: 163px;
  height: 42px;
}
.oskinistagram-com {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 43px;
  top: 118px;
  width: 163px;
  height: 42px;
}
.oskintiktok-com {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 43px;
  top: 170px;
  width: 163px;
  height: 42px;
}
.instagram-2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 135px;
  object-fit: cover;
  aspect-ratio: 1;
}
.tik-tok-2 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 187px;
  object-fit: cover;
  aspect-ratio: 1;
}
.oskin2 {
  color: #f3617a;
  text-align: left;
  position: absolute;
  left: 46px;
  top: 2px;
  width: 194px;
  height: 40px;
}
.oskin-2-span {
  color: #f3617a;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 19.03317642211914px;
  font-weight: 400;
}
.oskin-2-span2 {
  color: #f3617a;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.oskin-2-span3 {
  color: #f3617a;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.congty {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 61px;
  font-weight: 700;
  position: absolute;
  left: 30px;
  top: 52px;
  width: 671px;
  height: 64px;
}
.diachicty {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 108px;
  width: 614px;
  height: 39px;
}
.location-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 54px;
  top: 122px;
  object-fit: cover;
  aspect-ratio: 1;
}
._0345678901-0234567890 {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 147px;
  width: 218px;
  height: 42px;
}
.telephone-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 54px;
  top: 164px;
  object-fit: cover;
  aspect-ratio: 1;
}
.phongkhamoskin-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 61px;
  font-weight: 400;
  position: absolute;
  left: 95px;
  top: 189px;
  width: 265px;
  height: 36px;
}
.mail-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 54px;
  top: 206px;
  object-fit: cover;
  aspect-ratio: 1;
}
